body {
  width  : 600px;
  margin : 0 auto;

  font-family : "Frutiger";
  font-size   : 14px;
}

.movie {
  .poster, .text-container {
    display : inline-block;
  }

  .poster {
    width : 150px;
  }

  .title {
    font-size : 1.5em;
  }

  .year {
    color : lightgrey;
    font-size : .75em;
  }

  .plot {

  }
}
